<div class="content-header">
    <h2 class="content-title">选项列表</h2>
    <span class="layui-breadcrumb">
	  <a href="#!home">首页</a>
	  <a><cite>选项列表</cite></a>
	</span>
</div>
<!-- 表格 -->
<div>
    <div class="layui-form toolbar">
        <button id="addBtn" class="layui-btn"><i class="layui-icon">&#xe608;</i> 添加</button>
    </div>

    <table class="layui-table" id="optionList" lay-filter="optionList"></table>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="barTpl">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit"><i class="layui-icon">&#xe6b2;</i>编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</a>
</script>

<script type="text/javascript" src="/cms/assets/js/config/optionList.js"></script>
<script type="text/javascript" src="/cms/assets/js/config/optionModel.js"></script>
